body {
    font-family: "Abel", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: black;
    color: white;
}

#container-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8em;
}

#logo {
    width: 50px;
}

.menu {
    font-size: 1.5em;
    margin: 15px;
}

#container-menu a {
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 2rem;
}

#container-intro {
    display: flex;
    align-items: center;
    margin: 15px;
    font-family: "Caveat", cursive;
    font-size: 1.5em;

}

#container-intro img {
    max-height: 150px;
    border-radius: 50%;
    margin-right: 30px;
}

.container-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-project img {
    border: 1px solid grey;
}

.project {
    margin: 10px;

}

.project h3 {
    text-align: center;
}

#container-github {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-github a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
}

#container-github img {
    width: 50px;
    margin: 0 10px;
}

.train-skills {
    display: flex;
}

#training,
#skills {
    width: 50%;
    border: 2px solid white;
}